<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Equipment Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Photography Equipment Store</h1>
        <h3>by @nkrvisuals</h3>
        <br />
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('products') }}">Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="filters">
            <label for="category">Category:</label>
            <select id="category">
                <option value="all">All</option>
                <option value="cameras">Cameras</option>
                <option value="lenses">Lenses</option>
                <!-- Add more options as needed -->
            </select>
            
            <label for="brand">Brand:</label>
            <select id="brand">
                <option value="all">All</option>
                <option value="sony">Sony</option>
                <option value="sigma">Sigma</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        
        <!-- Search bar -->
        <div class="search-bar">
            <input type="text" placeholder="Search products...">
            <button>Search</button>
        </div>

        <section class="products">
            {% for product in products %}
            <div class="product">
                <img src="{{ url_for('static', filename='img/placeholder.jpg') }}" alt="{{ product.productname }}">
                <h3>{{ product.productname }}</h3>
                <p>{{ product.productdescription }}</p>
                <span class="price">${{ product.productprice }}</span>
                <p>{{ product.creator.username }}</p>
                <a href="#" class="btn">Add to Cart</a>                                     
            </div>
            {% else %}
            <p>No products found.</p>
            {% endfor %}
        </section>
    </main>

    <footer>
        <p>&copy;2024 nkrvisuals. All rights reserved.</p>
    </footer>
</body>
</html>